<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>checky</title>
    <link
      rel="stylesheet"
      href="../../assets/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Actor"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Red+Hat+Display&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Red+Hat+Mono&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Red+Hat+Text&amp;display=swap"
    />
    <link rel="stylesheet" href="../assets/css/Card-1.css" />
    <link rel="stylesheet" href="../assets/css/Card.css" />
    <link
      rel="stylesheet"
      href="../../assets/css/dh-card-image-left-dark.css"
    />
    <link rel="stylesheet" href="../assets/css/Footer-Basic.css" />
    <link rel="stylesheet" href="../assets/css/Google-Style-Login.css" />
    <link rel="stylesheet" href="../assets/css/Profile-Card.css" />
    <link rel="stylesheet" href="../assets/css/responsive-navbar.css" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
  </head>

  <body>

    <div
      class="d-sm-flex d-lg-flex flex-column align-items-sm-center justify-content-lg-center align-items-lg-center"
    >
      <h1
        style="
          text-align: center;
          margin-top: 20%;
          font-family: 'Red Hat Display', sans-serif;
        "
      >
        Pasar lista
      </h1>
      <form style="width: 40%" action="iniciar_pase_lista" method="post">
        <button
          class="btn btn-primary"
          type="submit"
          style="
            width: 100%;
            background: #3f7d20;
            border-color: #3f7d20;
            border-radius: 50px;
            font-family: 'Red Hat Text', sans-serif;
          "
        >
          Iniciar pase de lista</button
        ><input
          class="form-control"
          type="hidden"
          name="class"
          value="idClase"
        />
      </form>
    </div>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
