
<body>
{% extends "admin/navbar_admin.html" %}
{% block body %}

    <div
      class="text-center d-lg-flex flex-column align-items-lg-center"
      style="padding: 2%"
    >
      <h1 style="color: #3f7d20; font-family: 'Red Hat Display', sans-serif">
        Clase
      </h1>
      <div
        class="d-lg-flex align-items-lg-center"
        style="width: 100%; padding: 2%"
      >
        <div style="width: 50%">
          <ul style="margin-bottom: 0px">
            <li>Asignatura: {{ data['nomAsignatura'] }}</li>
            <li>Carrera: {{ data['nomCarrera'] }}</li>
            <li>Grado: {{ data['tipoGrado'] }}</li>
            <li>Grupo: {{ data['tipoGrupo'] }}</li>
            <li>Turno: {{ data['nomTurno'] }}</li>
          </ul>
        </div>
        <div style="width: 50%">
          <h4>Horarios:</h4>
          <ul>
            {% for classroom_schedule in classroom_schedules %}
            <li>{{ classroom_schedule['diaHorario'] }}: {{ classroom_schedule['iniHorario'] }}-{{ classroom_schedule['finHorario'] }}</li>
            {% endfor %}
          </ul>
          <form
            class="d-lg-flex align-items-lg-start"
            action="crearHorarioClase"
            method="post"
          >
            <select class="form-select" name="idHorario">
              <optgroup label="Selecciona un horario">
                {% for schedule in schedules %}
                <option value="{{ schedule['idHorario'] }}">{{ schedule['diaHorario'] }}: {{ schedule['iniHorario'] }}-{{ schedule['finHorario'] }}</option>
                {% endfor %}
              </optgroup></select
            ><input type="hidden" name="idClase" value="{{ idClase }}"><button class="btn btn-success" type="button">Añadir</button>
          </form>
        </div>
      </div>
    </div>
    <div
      class="text-center d-lg-flex flex-column align-items-lg-center"
      style="padding: 2%"
    >
      <h1 style="color: #3f7d20; font-family: 'Red Hat Display', sans-serif">
        Miembros
      </h1>
      <a
        class="btn btn-primary"
        role="button"
        style="background: #3f7d20; border-color: #3f7d20"
        href="{{ url_for('crearMiembro') }}"
        >Nuevo</a
      >
      <div class="table-responsive" style="width: 99%">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Sexo</th>
              <th>Matrícula</th>
              <th>Usuario</th>
              <th>Rol</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for member in members %}
            <tr>
              <td>{{ member['nomUsuario'] }} {{ member['appatUsuario'] }} {{ member['apmatUsuario'] }}</td>
              <td>{{ member['sexoUsuario'] }}</td>
              <td>{{ member['matUsuario'] }}</td>
              <td>{{ member['usuUsuario'] }}</td>
              <td>{{ member['tipoRol'] }}</td>
              <td>
                <form action="{{ url_for('eliminarMiembro') }}">
                  <input class="form-control" type="hidden" value="{{ member['idMiembro'] }}" /><button
                    class="btn btn-danger"
                    type="submit"
                  >
                    Eliminar
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}
</body>
