
<body>
{% extends "admin/navbar_admin.html" %}
{% block body %}

    <div
      class="text-center d-lg-flex flex-column align-items-lg-center"
      style="padding: 2%"
    >
      <h1 style="color: #3f7d20; font-family: 'Red Hat Display', sans-serif">
        Estados
      </h1>
      <a
        class="btn btn-primary"
        role="button"
        style="background: #3f7d20; border-color: #3f7d20"
        href="{{ url_for('crearEstado') }}"
        >Nuevo</a
      >
      <div class="table-responsive" style="width: 90%">
        <table class="table">
          <thead>
            <tr>              
              <th>Estado</th>
              <th>Restricción de acceso</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for item in data %}
            <tr>
              <td>{{ item['tipoEstado'] }}</td>
              <td>{{ item['resEstado'] }}</td>
              <td>
                <form>
                  <input class="form-control" type="hidden" value="item['idEstado']"/><a
                    class="btn btn-primary"
                    role="button"
                    style="
                      background: #3f7d20;
                      border-color: #3f7d20;
                      margin-right: 2%;
                    "
                    href="{{ url_for('editarEstado', id=item['idEstado']) }}"
                    >Editar</a
                  ><button class="btn btn-danger" type="submit">
                    Eliminar
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}
</body>
