
<body>
{% extends "admin/navbar_admin.html" %}
{% block body %}
    <div style="text-align: center">
      <h1
        style="
          color: #3f7d20;
          font-family: 'Red Hat Display', sans-serif;
          margin-top: 30%;
          margin-bottom: 2%;
        "
      >
        Panel de administración
      </h1>
      <p style="font-family: 'Red Hat Text', sans-serif">
        Seleccione un apartado en el menú desplegable de la barra superior.
      </p>
    </div>
{% endblock %}
</body>
