
<body>
{% extends "admin/navbar_admin.html" %}
{% block body %}
    <div
      class="text-center d-lg-flex flex-column align-items-lg-center"
      style="padding: 2%"
    >
      <h1 style="color: #3f7d20; font-family: 'Red Hat Display', sans-serif">
        Usuarios
      </h1>
      <a
        class="btn btn-primary"
        role="button"
        style="background: #3f7d20; border-color: #3f7d20"
        href="{{ url_for('crearUsuario') }}"
        >Nuevo</a
      >
      <div class="table-responsive" style="width: 99%">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Sexo</th>
              <th>Matrícula</th>
              <th>Usuario</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for item in data %}
            <tr>
              <td>{{ item['nomUsuario'] }} {{ item['appatUsuario'] }} {{ item['apmatUsuario'] }}</td>
              <td>{{ item['sexoUsuario'] }}</td>
              <td>{{ item['matUsuario'] }}</td>
              <td>{{ item['usuUsuario'] }}</td>
              <td>
                <form>
                  <input class="form-control" type="hidden" value="{{ item['idUsuario'] }}"/><a
                    class="btn btn-primary"
                    role="button"
                    style="
                      background: #3f7d20;
                      border-color: #3f7d20;
                      margin-right: 2%;
                    "
                    href="{{ url_for('editarUsuario', id=item['idUsuario']) }}"
                    >Editar</a
                  ><button class="btn btn-danger" type="submit">
                    Eliminar
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}
</body>
