
<body>
{% extends "admin/navbar_admin.html" %}
{% block body %}
    <div
      class="d-lg-flex flex-column justify-content-lg-center align-items-lg-center"
      style="padding: 2%"
    >
      <h1 style="color: #3f7d20; font-family: 'Red Hat Display', sans-serif">
        Crear grupo
      </h1>
      <form action="{{ url_for('crearGrupo') }}" method="post" style="width: 70%">
        <label
          class="form-label"
          for="name"
          style="font-family: 'Red Hat Text', sans-serif"
          >Nombre del grupo</label
        ><input
          class="form-control"
          type="text"
          name="tipoGrupo"
          required=""
          maxlength="2"
          style="font-family: 'Red Hat Text', sans-serif"
        /><button
          class="btn btn-primary"
          type="submit"
          style="background: #3f7d20; border-color: #3f7d20; margin-top: 2%"
        >
          Enviar
        </button>
        
      </form>
    </div>
{% endblock %}
</body>
