
<body>
{% extends "admin/navbar_admin.html" %}
{% block body %}
    <div
      class="d-lg-flex flex-column justify-content-lg-center align-items-lg-center"
      style="padding: 2%"
    >
      <h1 style="color: #3f7d20; font-family: 'Red Hat Display', sans-serif">
        Crear usuario
      </h1>
      <form action="{{ url_for('crearUsuario') }}" method="post" style="width: 70%">
        <label
          class="form-label"
          for="nombre"
          style="font-family: 'Red Hat Text', sans-serif"
          >Nombre completo</label
        >
        <div class="input-group">
          <input
            class="form-control"
            type="text"
            name="nomUsuario"
            required=""
            maxlength="45"
          /><input
            class="form-control"
            type="text"
            name="appatUsuario"
            required=""
            maxlength="45"
          /><input
            class="form-control"
            type="text"
            name="apmatUsuario"
            required=""
            maxlength="45"
          />
        </div>
        <label
          class="form-label"
          for="sexoUsuario"
          style="font-family: 'Red Hat Text', sans-serif"
          >Sexo</label
        ><select
          class="form-select"
          name="sexoUsuario"
          style="font-family: 'Red Hat Text', sans-serif"
          required=""
        >
          <optgroup label="Seleccione un sexo">
            <option value="Masculino" selected="">Masculino</option>
            <option value="Femenino">Femenino</option>
          </optgroup></select
        ><label
          class="form-label"
          for="matricula"
          style="font-family: 'Red Hat Text', sans-serif"
          >Matrícula</label
        ><input
          class="form-control"
          type="text"
          required=""
          maxlength="45"
          name="matUsuario"
        /><label
          class="form-label"
          for="usuario"
          style="font-family: 'Red Hat Text', sans-serif"
          >Nombre de usuario</label
        ><input
          class="form-control"
          type="text"
          required=""
          maxlength="45"
          name="usuUsuario"
        /><label
          class="form-label"
          for="pass"
          style="font-family: 'Red Hat Text', sans-serif"
          >Contraseña</label
        ><input
          class="form-control"
          type="password"
          required=""
          name="passUsuario"
        /><label
          class="form-label"
          for="rol"
          style="font-family: 'Red Hat Text', sans-serif"
          >Rol</label
        ><select
          class="form-select"
          name="idRol"
          style="font-family: 'Red Hat Text', sans-serif"
          required=""
        >
          <optgroup label="Seleccione un rol">
            {% for role in roles %}
            <option value="{{ role['idRol'] }}" selected="">{{ role['tipoRol'] }}</option>
            {% endfor %}
          </optgroup></select
        ><label
          class="form-label"
          for="estado"
          style="font-family: 'Red Hat Text', sans-serif"
          >Estado</label
        ><select
          class="form-select"
          name="idEstado"
          style="font-family: 'Red Hat Text', sans-serif"
          required=""
        >
          <optgroup label="Seleccione un estado">
            {% for status in statuses %}
            <option value="{{ status['idEstado'] }}" selected="">{{ status['tipoEstado'] }}</option>
            {% endfor %}
          </optgroup></select
        ><button
          class="btn btn-primary"
          type="submit"
          style="background: #3f7d20; border-color: #3f7d20; margin-top: 2%"
        >
          Enviar
        </button>
        
      </form>
    </div>
{% endblock %}
</body>
