
<body>
{% extends "admin/navbar_admin.html" %}
{% block body %}
    <div
      class="d-lg-flex flex-column justify-content-lg-center align-items-lg-center"
      style="padding: 2%"
    >
      <h1 style="color: #3f7d20; font-family: 'Red Hat Display', sans-serif">
        Editar clase
      </h1>
      <form action="{{ url_for('editarClase', id=data['idClase']) }}" method="post" style="width: 70%">
        <label
          class="form-label"
          for="carrera"
          style="font-family: 'Red Hat Text', sans-serif"
          >Carrera</label
        ><select
          class="form-select"
          name="idCarrera"
          style="font-family: 'Red Hat Text', sans-serif"
          required=""
        >
          <optgroup label="Seleccione una carrera">
            {% for career in careers %}
            <option value="{{ career['idCarrera'] }}" selected="">{{ career['nomCarrera'] }}</option>
            {% endfor %}
          </optgroup></select
        ><label
          class="form-label"
          for="grado"
          style="font-family: 'Red Hat Text', sans-serif"
          >Grado</label
        ><select
          class="form-select"
          name="idGrado"
          style="font-family: 'Red Hat Text', sans-serif"
          required=""
        >
          <optgroup label="Seleccione un grado">
            {% for grade in grades %}
            <option value="{{ grade['idGrado'] }}" selected="">{{ grade['tipoGrado'] }}</option>
            {% endfor %}
          </optgroup></select
        ><label
          class="form-label"
          for="turno"
          style="font-family: 'Red Hat Text', sans-serif"
          >Turno</label
        ><select
          class="form-select"
          name="idTurno"
          style="font-family: 'Red Hat Text', sans-serif"
          required=""
        >
          <optgroup label="Seleccione un turno">
            {% for shift in shifts %}
            <option value="{{ shift['idTurno'] }}" selected="">{{ shift['nomTurno'] }}</option>
            {% endfor %}
          </optgroup></select
        ><label
          class="form-label"
          for="grupo"
          style="font-family: 'Red Hat Text', sans-serif"
          >Grupo</label
        ><select
          class="form-select"
          name="idGrupo"
          style="font-family: 'Red Hat Text', sans-serif"
          required=""
        >
          <optgroup label="Seleccione un grupo">
            {% for group in groups %}
            <option value="{{ group['idGrupo'] }}" selected="">{{ group['tipoGrupo'] }}</option>
            {% endfor %}
          </optgroup></select
        ><label
          class="form-label"
          for="asignatura"
          style="font-family: 'Red Hat Text', sans-serif"
          >Asignatura</label
        ><select
          class="form-select"
          name="idAsignatura"
          style="font-family: 'Red Hat Text', sans-serif"
          required=""
        >
          <optgroup label="Seleccione una asignatura">
            {% for course in courses %}
            <option value="{{ course['idAsignatura'] }}" selected="">{{ course['nomAsignatura'] }}</option>
            {% endfor %}
          </optgroup></select
        ><button
          class="btn btn-primary"
          type="submit"
          style="background: #3f7d20; border-color: #3f7d20; margin-top: 2%"
        >
          Enviar
        </button>
      </form>
    </div>
    <div
      class="alert alert-danger alert-dismissible"
      role="alert"
      style="margin-top: 16px"
    >
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
      <h4 class="alert-heading">Error:</h4>
      <span
        ><strong
          >Los valores ingresados entran en conflicto con una entidad ya
          existente. (409)</strong
        ></span
      >
    </div>
{% endblock %}
</body>
