<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>checky</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Actor"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Red+Hat+Display&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Red+Hat+Mono&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Red+Hat+Text&amp;display=swap"
    />
    <link rel="stylesheet" href="assets/css/Card-1.css" />
    <link rel="stylesheet" href="assets/css/Card.css" />
    <link rel="stylesheet" href="assets/css/dh-card-image-left-dark.css" />
    <link rel="stylesheet" href="assets/css/Footer-Basic.css" />
    <link rel="stylesheet" href="assets/css/Google-Style-Login.css" />
    <link rel="stylesheet" href="assets/css/Profile-Card.css" />
    <link rel="stylesheet" href="assets/css/responsive-navbar.css" />
    <link rel="stylesheet" href="assets/css/styles.css" />
  </head>

  <body
    class="d-flex d-lg-flex align-items-center justify-content-lg-center align-items-lg-center"
  >
    <div class="text-center" style="padding: 2%">
      <img
        src="assets/img/undraw_page_not_found_re_e9o6.svg"
        style="width: 50%"
      />
      <h1
        style="
          margin-top: 2%;
          font-family: 'Red Hat Display', sans-serif;
          color: #3f7d20;
        "
      >
        Página no encontrada
      </h1>
      <p style="font-family: 'Red Hat Text', sans-serif; font-size: 26px">
        Lo sentimos, no hemos encontrado la página que has solicitado.
      </p>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
