<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>checky</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Actor"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Red+Hat+Display&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Red+Hat+Mono&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Red+Hat+Text&amp;display=swap"
    />
    <link rel="stylesheet" href="assets/css/Card-1.css" />
    <link rel="stylesheet" href="assets/css/Card.css" />
    <link rel="stylesheet" href="assets/css/dh-card-image-left-dark.css" />
    <link rel="stylesheet" href="assets/css/Footer-Basic.css" />
    <link rel="stylesheet" href="assets/css/Google-Style-Login.css" />
    <link rel="stylesheet" href="assets/css/Profile-Card.css" />
    <link rel="stylesheet" href="assets/css/responsive-navbar.css" />
    <link rel="stylesheet" href="assets/css/styles.css" />
  </head>

  <body>

    <div
      class="text-center d-sm-flex d-lg-flex flex-column align-items-sm-center justify-content-lg-center"
    >
      <h1
        style="
          color: #3f7d20;
          font-family: 'Red Hat Text', sans-serif;
          margin-bottom: 7%;
        "
      >
        Pase de lista
      </h1>
      <h3 style="font-family: 'Red Hat Text', sans-serif">
        Ingresa el siguiente código:
      </h3>
      <h1
        style="
          font-family: 'Red Hat Mono', monospace;
          color: #3f7d20;
          margin-bottom: 7%;
        "
      >
        código
      </h1>
      <form
        class="d-sm-flex d-lg-flex align-items-sm-start justify-content-lg-center"
        style="width: 80%"
      >
        <input
          class="form-control"
          type="text"
          name="code"
          placeholder="Ingresa el código que se encuentra arriba"
          style="font-family: 'Red Hat Text', sans-serif; width: 80%"
        /><input class="form-control" type="hidden" /><button
          class="btn btn-primary"
          type="submit"
          style="
            background: #3f7d20;
            border-color: #3f7d20;
            font-family: 'Red Hat Text', sans-serif;
          "
        >
          Enviar
        </button>
      </form>
      <div
        class="alert alert-danger text-start alert-dismissible"
        role="alert"
        style="margin-top: 16px"
      >
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
        <h4 class="alert-heading">Error:</h4>
        <span
          ><strong>El pase de lista ha alcanzado su tiempo límite (400)</strong
          ><br
        /></span>
      </div>
      <h2 style="font-family: 'Red Hat Display', sans-serif">
        Alumnos que han registrado asistencia
      </h2>
      <div class="table-responsive" style="margin-top: 3%">
        <table class="table">
          <thead>
            <tr>
              <th>Alumno</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Alumno</td>
              <td>Fecha</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
